.redHeroWrapper {
  width: 100%;
  height: 200svh;
  position: relative;

}

.redContent {
  width: 100%;
  height: 100svh;
  align-content: flex-end;
  position: relative;
  
}

.line{
  z-index: 102;
  position: relative;
}
